* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: space-between;
  background-color: ivory;
}
header {
  padding-top: 20px;
  justify-content: center;
  width: 30vh;
  max-height: 100vh;
  overflow: hidden;
  background-color: slateblue;
  color: white;
  padding-bottom: 10px;
  padding-left: 20px;
}
header p {
  display: block;
}
#muni {
  font-size: 40px;
  padding-bottom: 10px;
  color: azure;
  font-style: italic;
}
#web {
  font-size: 30px;
  padding-bottom: 30px;
  color: azure;
  font-style: italic;
}
nav a {
  display: block;
  gap: 5px;
  color: cyan;
  text-decoration: none;
  font-size: larger;
}
#navi {
  display: flex;
  flex-direction: column;
  width: inherit;
  gap: 5px;
  padding-top: 10px;
  margin-bottom: 50px;
  justify-content: space-around;
}
#portfolio {
  text-decoration: underline;
  color: red;
}
#portfolio:hover,
nav a:hover {
  color: green;
}
#h-img {
  justify-content: left;
  display: block;
  width: 100px;
}
#h-img img:hover {
  transform: scale(1.2);
}
#h-img img {
  display: block;
  transition: transform 0.3s ease;
  width: 25%;
  align-items: self-end;
  padding-top: 10px;
}
#sec1 {
  padding-top: 20px;
  display: flex;
}
.mudiv {
  font-weight: 800;
  font-size: x-large;
  color: azure;
  align-items: center;
}
.hi {
  padding: 5px;
  display: flex;
  gap: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  flex-direction: column;
}

.home-div {
  display: flex;
}
.home-inner {
  width: 100%;
  border: 1px solid black;
}
